{erl_opts, [no_debug_info]}.
{deps, []}.

{eunit_tests, []}.
{eunit_opts, [verbose]}.

%% == xref ==

{xref_warnings, true}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
  locals_not_used, exports_not_used,
  deprecated_function_calls, deprecated_functions]}.
